<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>실습문제1</title>
    <style>
      fieldset {
        width: 400px;
      }
    </style>
  </head>
  <body>
    <h1>실습문제1</h1>
    <form action="/practice1-get" method="get" name="practice1" target="_blank">
      <label>이름 <input type="text" name="user" /></label>
      <br />
      <br />
      <fieldset>
        <legend>성별</legend>
        <label><input type="radio" name="gender" value="남자" />남자</label>
        <label><input type="radio" name="gender" value="여자" />여자</label>
      </fieldset>
      <br />
      <fieldset>
        <legend>생년월일</legend>
        <label>
          <select name="year" id="year">
            <%for(i=1970; i<=2024; i++){%>
            <option value="<%=i%>"><%=i%></option>
            <%}%>
          </select>
          년</label
        ><label>
          <select name="month" id="month">
            <%for(i=1; i<=12; i++){%>
            <option value="<%=i%>"><%=i%></option>
            <%}%>
          </select>
          월</label
        >
        <label>
          <select name="date" id="date">
            <%for(i=1; i<=31; i++){%>
            <option value="<%=i%>"><%=i%></option>
            <%}%>
          </select>
          일</label
        >
      </fieldset>
      <br />
      <fieldset>
        <legend>관심사</legend>
        <label>
          <input type="checkbox" name="interest" value="여행" />
          여행
        </label>
        <label>
          <input type="checkbox" name="interest" value="패션" />
          패션
        </label>
        <label>
          <input type="checkbox" name="interest" value="음식" />
          음식
        </label>
      </fieldset>
      <br />
      <button>회원가입</button>
    </form>
  </body>
</html>
