<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>practice_결과 페이지입니다</title>
    <style>
      span {
        color: coral;
      }
      #box > div {
        box-shadow: 0 0 3px black;
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
      }
      #box2 > span {
        color: rgb(124, 80, 255);
        font-size: 25px;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <!-- 
    userInfo
    {
    name: 'dda',
    gender: '여자',
    year: '1970',
    month: '1',
    date: '1',
    interest: '패션'
    }
    -->
    <h1>결과 확인하기</h1>
    <h2><span><%=userInfo.name%></span>님 환영합니다!</h2>
    <div id="box">
      <div>성별 : <%=userInfo.gender%></div>
      <div>
        생년월일 : <%=userInfo.year%>/<%=userInfo.month%>/<%=userInfo.date%>
      </div>
      <div>관심사 : <%=userInfo.interest%></div>
    </div>
    <%if(addInfo){%>
    <!-- <div id="addInformation"> -->
    <hr />
    <h2>다른 태그 작성해보기</h2>
    <div id="box2">
      <span><%=userInfo.id%></span>님의 MBTI는
      <span
        ><%=userInfo.EI%><%=userInfo.SN%><%=userInfo.FT%><%=userInfo.PJ%></span
      >시네요!
    </div>
    <br />
    <br />
    <!-- </div> -->
    <%}%>
    <hr />
    <br />
    <a href="/">홈으로 이동!</a>
    <!-- <script>
      if(addInfo===false){
        let addInformation=document.getElementById('addInformation')
        addInformation{
          display : none
        }
      }
    </script> -->
  </body>
</html>
